.background > img{
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

img#background{z-index:-2;}
img#overlay{z-index:-1;}

body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0;
  color: #fff;
  font-size: 100%;
  user-select: none;
}

a{
  color: #fff;
  text-decoration: none;
}

.main{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

#time{
  transition: transform .5s ease,opacity .5s ease;
  font-size: 750%;
}

#greeting{
  transition: transform .5s ease,opacity .5s ease;
  font-size: 337.5%;
}

.quote{
  user-select: text;
  font-size: 1.125rem;
}

#quote-text{
  transform: translateY(0.6rem);
  transition: all .35s ease;
}

#quote-author{
  opacity: 0;
  line-height: 1.2;
  transition: all .35s ease;
}

.quote:hover > #quote-text{
  transform: translateY(0);
}

.quote:hover > #quote-author{
  opacity: 1;
}

.row{
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.top{
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}

.center{
  top: 50%;
  left: 50%;
  width: calc(100% - 20px);
  transform: translate(-50%,-50%);
}

.bottom{
  position: absolute;
  width: calc(100% - 20px);
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.left{
  text-align: left;
}

.middle{
  text-align: center;
  width: 70%;
}

.right{
  text-align: right;
}

.center > .middle{
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather-temperature {
  font-size: 300%;
}

#weather-icon {
  height: max-content;
  width: 4em;
}

#weather-celsius {
  font-size: 200%;
  padding-left: 0.2em;
}

.fade {
  position: relative;
}

.fade::before{
  background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.1) 40%, rgba(0,0,0,0.05) 45%, rgba(0,0,0,0) 55%, rgba(0,0,0,0) 100%);
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.05) 45%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%);
  background: radial-gradient(ellipse at center,  rgba(0,0,0,0.3) 0%,rgba(0,0,0,0.1) 40%,rgba(0,0,0,0.05) 45%,rgba(0,0,0,0) 55%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d000000', endColorstr='#00000000',GradientType=1 );
  z-index: -1;
  content: " ";
  width: 200%;
  height: 200%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
